{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>bot作成完了</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'con.css' %}">
    </head>
    <body>
        <h>Botの作成が完了しました。</h>
    </body>
  <!--ホームボタン-->
  <p><a href="{%url 'top'%}"><input name="_" id="HOME" type="submit" class="GoHome" value="ホームに戻る"></a></p>
</html>