{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>データの入力</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'data.css' %}">
    </head>
    <hr>
    <h2>botの作成</h2>
    <!--アカウントの追加-->

    <button type="button" class="GoHome"
        onclick="location.href='{% url 'social:begin' 'twitter' %}'">
        LogInwithTwitter</button>

      <form action="data" method="POST">
      {% csrf_token %} 
      <div class="Bot">
          <p>botにするアカウント:</p>
          <p>
            <input type="text" name="acount" id="acount" placeholder="メールアドレス">
          </p>
          <!--ツイートの内容-->
          <p>ツイート内容:</p>

            <textarea  rows="3" name="text" class="text2" placeholder="内容"></textarea>
          
          <!--時間設定-->
          <p>ツイートの間隔:</p>
          <p><input type="text" name="time" id="time" placeholder="時間の間隔">秒</p>
          <!--送信ボタン-->
          <p>
            <input type="submit" name="data" class="submit" value="追加する">
          </p>
      </div>
      </form>
    <p><a href="{%url 'index'%}"><input name="_" type="submit" value="データの一覧" class="submit"></a></p>
  <!--ホームボタン-->
  <p><a href="{%url 'top'%}"><input name="_" id="HOME" type="submit" class="GoHome" value="ホームに戻る"></a></p>
</html>