{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>入力したデータの確認</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'detail.css' %}">
    </head>
    <body>
        <h1>以下の情報が登録されました</h1>
        <p>id: {{datas.id}}</p>
        <p>name: {{datas.nm}}</p>
        <p>tweet内容: {{datas.tweet}}</p>
        <p>時間の間隔: {{datas.time}}</p>
        
        <p><a href="{%url 'bot' datas.id %}" ><input name="_" type="submit" class="BOT" value="Botにする"></a></p>
        <!--ホームボタン-->
        <p><a href="{%url 'top'%}"><input name="_" id="HOME" type="submit" class="GoHome" value="ホームに戻る"></a></p>
    </body>
</html>