{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>データの確認</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'index.css' %}">
  </head>
  <body>
    {% for data in datas %}
    <tr>
      <td>
        <ul>
          <td>id: {{data.id}}</td>
          <td>name: {{ data.nm }}</td>
          <td>内容: {{data.tweet}}</td>
          <td>時間の間隔: {{data.time}} 秒</td>
        </ul>
      </td>
    </tr>
    {% endfor %}
  </body>
    <!--情報のオールデリート-->
    <a href="{% url 'delete' %}"><input name="_" type="submit" value="消去する" class="submit"></a>
    <!--ホームボタン-->
    <a href="{%url 'top'%}"><input name="_" type="submit" value="ホームに戻る" class="GoHome"></a>
  </body>
</html>