{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Make botホーム</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'top.css' %}">
    </head>
    <body>
        <h1>Make bot</h1>         
        <h2>BOT作成</h2>
        <!---index.htmlへのリンク-->
        <p><a href="{%url 'data'%}">ツイッターのBOTを作成する</a></p>
        <p><a href="{%url 'index'%}">データの一覧</a></p>
    </body>
</html>