.submit {
    width: 100px;
    padding: 8px 0 8px;
    color: rgb(12, 60, 148);
    border: solid 2px rgb(12, 60, 148);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.GoHome {
    width:100px;
    display: inline-block;
    padding: 8px 0 8px;
    text-decoration: none;
    color: white;
    border: solid 2px rgb(65, 130, 250);
    border-radius: 3px;
    transition: .4s;
}

.GoHome {
    width:100px;
    display: inline-block;
    padding: 8px 0 8px;
    text-decoration: none;
    color: white;
    border: solid 2px rgb(65, 130, 250);
    border-radius: 3px;
    background-color: rgb(65, 130, 250);
    border-radius: 5px;
    text-align: center;
}