h1 {
    color: #364e96;
    padding: 0.5em 0;
    border-top: solid 3px #364e96;
    border-bottom: solid 3px #364e96;
}

h2 {
    padding: 0.5em;
    background: hsl(207, 93%, 83%);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

p {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #364e96;
    border: solid 2px #364e96;
    border-radius: 3px;
    transition: .4s;
}

p.hover{
    background: #364e96;
    color: white;
}